<mat-toolbar class="justify-between items-center fixed">
  <button class="mdc-icon-button material-icons" (click)="drawer.toggle()">
    <div class="mdc-icon-button__ripple"></div>
    <i class="material-icons">menu</i>
  </button>
  <div class="flex w-full justify-center">
    <span class="title">
      RELATÓRIO MÁQUINA DE GIRO FPT
    </span>
  </div>
</mat-toolbar>

<mat-drawer-container autosize class="mt-20 fixed">
  <mat-drawer #drawer class="sidenav p-6 flex justify-center" mode="side">
    <p>Menu</p>

    <!--Atividades-->
    <a class="option flex items-center" mat-raised-button>
      <i class="material-icons option-icon mx-1">history</i>
      Operações
    </a>

  </mat-drawer>
  <div class="child-container">
    <app-table></app-table>
  </div>
</mat-drawer-container>
