<div class="flex justify-between w-full my-2 space-x-2">
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Matrícula</mat-label>
    <input matInput placeholder="Filtrar matrícula" (change)="filterRegNum($event)">
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Desenho</mat-label>
    <input matInput placeholder="Filtrar desenho" (change)="filterPartnumber($event)">
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Receita</mat-label>
    <input matInput placeholder="Filtrar receita" (change)="filterRecipe($event)">
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="status" selec (selectionChange)="filterStatus()">
      <mat-option value="" selected>Todos</mat-option>
      <mat-option value="ok">OK</mat-option>
      <mat-option value="nok">NOK</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Data Início</mat-label>
    <input matInput [matDatepicker]="startPicker" [value]="from">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker [startAt]="from" #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-5">
    <mat-label>Data Fim</mat-label>
    <input matInput [matDatepicker]="endPicker" [value]="to" (dateChange)="onEndDateChange($event.value)">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker [startAt]="to" #endPicker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button aria-label="Download" class="items-center align-middle flex gap-2" (click)="exportReport()">
    <mat-label>Exportar</mat-label>
    <mat-icon>download</mat-icon>
  </button>
</div>
